p {
  margin-bottom: 17px;
  padding-bottom: 1px;
  padding-left: 0px;
  direction: ltr;
}

strong {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
}

em {
  font-size: 28px;
  font-style: italic;
  text-align: center;
}

.section-hero {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 750px;
  min-width: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.headline-wrapper {
  position: relative;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 66vw;
  height: 400px;
  max-height: 500px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block {
  padding-right: 0px;
  color: #686262;
  font-size: 28px;
  line-height: 28px;
  text-align: right;
}

.heading {
  margin-bottom: 0px;
  color: #4a4a4a;
  font-size: 44px;
  line-height: 44px;
  text-decoration: none;
}

.white-label-agency {
  position: absolute;
  top: 199px;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 72px;
}

.heading-2 {
  margin-bottom: 0px;
  font-size: 72px;
  line-height: 75px;
  text-align: center;
}

.bold-text {
  display: block;
  padding-right: 0px;
  color: #686262;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 2.5px;
  text-decoration: none;
}

.bold-text:hover {
  color: #024920;
  font-size: 30px;
}

.text-block-2 {
  padding-right: 0px;
  font-size: 15px;
  text-align: right;
  letter-spacing: 1px;
}

.nav-link {
  color: #fff;
  font-size: 18px;
}

.nav-link-2 {
  color: #fff;
  font-size: 18px;
}

.nav-link-3 {
  color: #fff;
  font-size: 18px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #4a4a4a, #4a4a4a);
  background-image: linear-gradient(180deg, #4a4a4a, #4a4a4a);
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  position: relative;
  left: -130px;
  display: inline-block;
}

.nav-menu {
  right: -118px;
}

.brand {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-link-4 {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
}

.nav-link-5 {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
}

.nav-link-6 {
  margin-right: 9px;
  margin-left: 9px;
  color: #fff;
  font-size: 18px;
}

.navbar-2 {
  position: relative;
  background-image: -webkit-linear-gradient(270deg, #4a4a4a, #4a4a4a);
  background-image: linear-gradient(180deg, #4a4a4a, #4a4a4a);
}

.container-2 {
  padding-top: 5px;
}

.brand-2 {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 0px;
}

.section-sub-hero {
  margin-bottom: 16px;
  background-image: -webkit-linear-gradient(270deg, #024920 1%, #012711 51%, #024920);
  background-image: linear-gradient(180deg, #024920 1%, #012711 51%, #024920);
}

.button-wrapper {
  position: absolute;
  right: 2px;
  bottom: -90px;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button-wrapper.studio {
  position: static;
}

.button-cta {
  position: static;
  left: 89px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(270deg, #22bd63, #22bd63);
  background-image: linear-gradient(180deg, #22bd63, #22bd63);
  box-shadow: 8px 8px 18px -6px #4a4a4a;
  color: #fff;
  font-size: 20px;
  text-align: left;
  letter-spacing: 1px;
}

.button-cta:hover {
  background-image: -webkit-linear-gradient(270deg, #1c9c52, #1c9c52);
  background-image: linear-gradient(180deg, #1c9c52, #1c9c52);
  box-shadow: none;
}

.button-cta.studio {
  position: relative;
  left: 0px;
  top: 44px;
  margin-bottom: 67px;
}

.heading-3 {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

.section-subheading.center {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.waterfall-text-column {
  padding-left: 29px;
  text-align: left;
}

.section-title-group {
  margin-bottom: 25px;
}

.waterfall-image-column {
  padding-top: 9px;
  text-align: center;
}

.section-heading {
  margin-bottom: 20px;
}

.section-heading.centered {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #024920;
  font-size: 24px;
  text-align: center;
}

.tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-color: rgba(74, 74, 74, .79) rgba(74, 74, 74, .79) rgba(74, 74, 74, .59);
  border-bottom-style: none;
  border-bottom-width: 2px;
  text-align: center;
}

.button-2 {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #2196f3;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
}

.button-2:hover {
  background-color: #1565c0;
}

.button-2.w--current {
  background-color: #2e80b6;
}

.button-2.tab {
  margin-right: 30px;
  margin-left: 30px;
  padding: 18px 40px;
  border-radius: 25px 25px 0px 0px;
  background-color: #a8a8a8;
}

.button-2.tab:hover {
  background-color: #7e7e7e;
}

.button-2.tab.w--current {
  border-radius: 25px 25px 0px 0px;
  background-color: #024920;
}

.button-2.tab.w--current:hover {
  background-color: #22bd63;
}

.section-tabs {
  padding-bottom: 21px;
  border-style: none;
}

.text-block-3 {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 20px;
  letter-spacing: 1.1px;
}

.text-block-4 {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 20px;
  letter-spacing: 1.1px;
}

.text-block-5 {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 20px;
  letter-spacing: 1.1px;
}

.container-tabs {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.paragraph {
  font-size: 16px;
}

.list-item {
  font-size: 16px;
  line-height: 25px;
}

.list-item-2 {
  font-size: 16px;
}

.list-item-3 {
  font-size: 16px;
}

.list-item-4 {
  font-size: 16px;
}

.paragraph-2 {
  font-size: 16px;
}

.heading-4 {
  margin-top: 10px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #4a4a4a;
}

.row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  margin-left: 0px;
  padding-left: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-5 {
  margin-top: 10px;
}

.row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-6 {
  margin-top: 10px;
}

.paragraph-3 {
  font-size: 16px;
}

.image-credit {
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

.section-startup-studio {
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: #fff #fff rgba(74, 74, 74, .75);
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(74, 74, 74, .23) 13%, #fff 52%, rgba(74, 74, 74, .23) 86%);
  background-image: repeating-linear-gradient(315deg, rgba(74, 74, 74, .23) 13%, #fff 52%, rgba(74, 74, 74, .23) 86%);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .5);
  text-align: center;
}

.paragraph-4 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  text-align: left;
}

.container-3 {
  position: relative;
  margin-top: 39px;
  padding: 12px 50px 16px;
}

.heading-7 {
  margin-bottom: 15px;
  color: #024920;
  text-align: center;
}

.section-signup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.input {
  margin-bottom: 17px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .35);
  border-radius: 3px;
  background-color: transparent;
}

.input:hover {
  border-color: #000;
}

.input:focus {
  border-color: #ff5151;
}

.input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .65);
}

.input:-ms-input-placeholder {
  color: rgba(0, 0, 0, .65);
}

.input::placeholder {
  color: rgba(0, 0, 0, .65);
}

.input.textarea {
  max-width: 100%;
  min-height: 160px;
  min-width: 100%;
}

.section-heading-2 {
  color: #024920;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.section-half {
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: left;
}

.section-half.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #f6f6f6;
}

.section-half.image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  padding: 15px 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  background-color: #ff5151;
  color: #fff;
  font-size: 15px;
  text-align: right;
}

.label {
  margin-top: 13px;
}

.subhead {
  max-width: 500px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, .65);
  font-size: 16px;
  line-height: 24px;
}

.signup-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin-bottom: 49px;
  padding-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-2 {
  text-align: left;
}

.rtext---startup-studio {
  padding-bottom: 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
}

.link {
  position: absolute;
  right: 25px;
  bottom: 37px;
  text-decoration: none;
}

.link:hover {
  color: #024920;
  font-size: 16px;
}

.link.w--current {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  text-align: left;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.white-label-wrapper {
  padding-top: 10px;
}

.link-2 {
  position: static;
  top: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 20px;
  text-decoration: none;
}

.link-2:hover {
  color: #024920;
  font-size: 22px;
}

.white-label-name {
  position: relative;
  left: 49px;
  padding-top: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading-8 {
  font-size: 48px;
  line-height: 48px;
}

.text-block-6 {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.75px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer.accent {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #f1f1f1;
  background-image: -webkit-linear-gradient(270deg, #024920, #012711 51%, #024920);
  background-image: linear-gradient(180deg, #024920, #012711 51%, #024920);
}

.footer-brand-text {
  margin-top: 1px;
  margin-bottom: 4px;
  color: #fff;
  font-size: 26px;
  line-height: 33px;
}

.social-icon-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 5px 0px 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.social-icon-link:hover {
  opacity: 0.5;
}

.footer-link {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer-link:hover {
  color: #3b99d9;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: justify;
}

.image-5 {
  margin-right: 8px;
  margin-left: 0px;
  padding-right: 1px;
  padding-left: 1px;
}

.image-6 {
  margin-right: 9px;
}

.column {
  padding-left: 136px;
  text-align: left;
}

.paragraph-5 {
  margin-bottom: 0px;
  padding-left: 5px;
  color: #fff;
  font-size: 16px;
}

.container-4 {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.heading-9 {
  margin-top: 0px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.3px;
}

.image-7 {
  margin-left: 9px;
}

.text-block-7 {
  margin-left: 7px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-block {
  text-decoration: none;
}

.link-block-2 {
  text-decoration: none;
}

.link-block-3 {
  text-decoration: none;
}

.link-to-mediatech {
  display: block;
  margin-top: 16px;
  color: #4a4a4a;
  font-size: 20px;
  text-align: right;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: none;
}

.link-to-mediatech:hover {
  color: #024920;
  font-size: 22px;
}

.link-block-4 {
  display: block;
  text-decoration: none;
}

.text-block-8 {
  margin-top: -3px;
  padding-right: 19px;
  font-size: 11px;
  text-align: right;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-field {
  width: 350px;
  height: 45px;
  margin-right: 20px;
  padding-bottom: 8px;
}

.error-message {
  margin-top: 0px;
  margin-left: 15px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
  margin-bottom: 11px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-5 {
  padding-bottom: 10px;
}

@media (max-width: 991px) {
  .section-hero {
    top: 0px;
  }
  .headline-wrapper {
    width: 90vw;
  }
  .heading {
    font-size: 38px;
  }
  .heading-2 {
    font-size: 64px;
  }
  .bold-text {
    font-size: 24px;
  }
  .button-cta {
    position: static;
    display: inline-block;
  }
  .button-cta.studio {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 16px;
  }
  .waterfall-text-column {
    text-align: left;
  }
  .button-2.tab {
    margin-top: 10px;
    margin-left: 22px;
  }
  .button-2.tab.w--current {
    margin-left: 25px;
  }
  .section-half.form {
    width: 60%;
  }
  .section-half.image {
    width: 40%;
    padding-right: 30px;
    padding-left: 30px;
  }
  .subhead {
    font-size: 15px;
    line-height: 22px;
  }
  .white-label-name {
    left: 35px;
    right: 9px;
    padding-top: 21px;
    font-size: 12px;
  }
  .heading-8 {
    font-size: 35px;
    line-height: 38px;
  }
  .text-block-6 {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media (max-width: 767px) {
  .section-hero {
    min-height: 500px;
  }
  .headline-wrapper {
    height: 300px;
  }
  .text-block {
    font-size: 20px;
  }
  .heading {
    font-size: 28px;
    line-height: 28px;
  }
  .heading-2 {
    font-size: 48px;
    line-height: 48px;
  }
  .bold-text {
    font-size: 22px;
    line-height: 28px;
  }
  .section-sub-hero {
    margin-top: 20px;
  }
  .button-wrapper {
    right: 13px;
    bottom: -117px;
  }
  .button-cta {
    position: static;
    padding-right: 15px;
    padding-left: 15px;
  }
  .button-cta.studio {
    margin-top: -4px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
    text-align: center;
  }
  .heading-3 {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 28px;
  }
  .waterfall-text-column {
    text-align: left;
  }
  .section-title-group {
    margin-bottom: 30px;
  }
  .tab-menu {
    margin-bottom: 20px;
  }
  .button-2.tab {
    margin-bottom: 10px;
  }
  .button-2.tab.w--current {
    margin-bottom: 10px;
  }
  .text-block-5 {
    margin-top: 0px;
    margin-bottom: 1px;
  }
  .container-3 {
    margin-top: 16px;
    padding-top: 0px;
  }
  .section-half.form {
    padding: 30px;
  }
  .rtext---startup-studio {
    padding-right: 24px;
    padding-left: 24px;
  }
  .white-label-name {
    left: 19px;
  }
  .heading-8 {
    font-size: 33px;
    line-height: 35px;
  }
  .text-block-6 {
    font-size: 13px;
    line-height: 14px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .column {
    margin-top: 10px;
    padding-left: 0px;
    text-align: center;
  }
  .heading-9 {
    margin-top: 1px;
    margin-bottom: 2px;
  }
  .text-field {
    width: 300px;
  }
}

@media (max-width: 479px) {
  .headline-wrapper {
    height: auto;
    max-height: none;
    padding-top: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .white-label-agency {
    position: static;
  }
  .heading-2 {
    margin-top: 20px;
    margin-bottom: 7px;
    padding-top: 0px;
    font-size: 54px;
    text-align: center;
  }
  .produce {
    margin-top: 25px;
    margin-right: 31px;
    margin-left: 31px;
  }
  .market {
    margin-bottom: 23px;
  }
  .bold-text {
    margin-top: 0px;
    padding-right: 0px;
    font-size: 20px;
    text-align: center;
  }
  .text-block-2 {
    padding-right: 0px;
    text-align: center;
  }
  .container-2 {
    padding-top: 0px;
  }
  .icon {
    color: #fff;
  }
  .section-sub-hero {
    margin-top: 0px;
  }
  .button-wrapper {
    position: static;
    left: 13px;
    right: 13px;
    bottom: -69px;
    margin-top: 21px;
    margin-bottom: 36px;
  }
  .button-cta {
    position: static;
    margin-left: 0px;
    padding-right: 22px;
    padding-left: 22px;
  }
  .button-cta.studio {
    margin-top: 0px;
    margin-bottom: 92px;
  }
  .heading-3 {
    font-size: 24px;
    line-height: 30px;
  }
  .section-subheading.center {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 20px;
  }
  .waterfall-text-column {
    padding-left: 13px;
    text-align: left;
  }
  .section-title-group {
    margin-bottom: 30px;
  }
  .waterfall-image-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section-heading.centered {
    padding-right: 13px;
    padding-left: 13px;
  }
  .tab-menu {
    margin-bottom: 25px;
  }
  .button-2.tab {
    margin-bottom: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button-2.tab.w--current {
    margin-bottom: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .paragraph {
    padding-right: 7px;
    padding-left: 7px;
  }
  .heading-4 {
    text-align: center;
  }
  .row-2 {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .heading-5 {
    text-align: center;
  }
  .heading-6 {
    text-align: center;
  }
  .paragraph-3 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .section-startup-studio {
    background-image: -webkit-linear-gradient(9deg, rgba(74, 74, 74, .09) 1%, #fff 55%, rgba(74, 74, 74, .09));
    background-image: linear-gradient(81deg, rgba(74, 74, 74, .09) 1%, #fff 55%, rgba(74, 74, 74, .09));
  }
  .paragraph-4 {
    padding-right: 18px;
    padding-left: 18px;
  }
  .section-half.form {
    width: 100%;
  }
  .section-half.image {
    width: 100%;
    padding: 30px;
  }
  .signup-wrapper {
    display: block;
  }
  .rtext---startup-studio {
    padding-right: 1px;
    padding-left: 11px;
  }
  .link-2 {
    padding-left: 11px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
  }
  .heading-8 {
    text-align: left;
  }
  .heading-9 {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  .link-to-mediatech {
    text-align: center;
  }
  .form-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-field {
    margin-right: 0px;
    margin-left: -6px;
    padding-left: 13px;
  }
}

