.section {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 750px;
  min-width: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.headline-wrapper {
  position: relative;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 66vw;
  height: 400px;
  max-height: 500px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block {
  padding-right: 0px;
  color: #686262;
  font-size: 28px;
  line-height: 28px;
  text-align: right;
}

.heading {
  margin-bottom: 0px;
  font-size: 44px;
  line-height: 44px;
}

.white-label-agency {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.heading-2 {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 64px;
  text-align: right;
}

.bold-text {
  padding-right: 0px;
  color: #686262;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 1.5px;
}

.text-block-2 {
  padding-right: 0px;
  text-align: right;
}

.nav-link {
  color: #fff;
  font-size: 18px;
}

.nav-link-2 {
  color: #fff;
  font-size: 18px;
}

.nav-link-3 {
  color: #fff;
  font-size: 18px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #4a4a4a, #4a4a4a);
  background-image: linear-gradient(180deg, #4a4a4a, #4a4a4a);
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  position: relative;
  left: -130px;
  display: inline-block;
}

.nav-menu {
  right: -118px;
}

.brand {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-link-4 {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
}

.nav-link-5 {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
}

.nav-link-6 {
  margin-right: 9px;
  margin-left: 9px;
  color: #fff;
  font-size: 18px;
}

.navbar-2 {
  position: relative;
  background-image: -webkit-linear-gradient(270deg, #4a4a4a, #4a4a4a);
  background-image: linear-gradient(180deg, #4a4a4a, #4a4a4a);
}

.container-2 {
  padding-top: 5px;
}

.brand-2 {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 0px;
}

.section-2 {
  background-image: -webkit-linear-gradient(270deg, #4a4a4a, #4a4a4a);
  background-image: linear-gradient(180deg, #4a4a4a, #4a4a4a);
}

.button-wrapper {
  position: absolute;
  right: 2px;
  bottom: -69px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button {
  margin-top: 0px;
  padding-top: 12px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(270deg, #22bd63, #22bd63);
  background-image: linear-gradient(180deg, #22bd63, #22bd63);
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}

.heading-3 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 49px;
  padding-left: 49px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

@media (max-width: 991px) {
  .section {
    top: 0px;
  }
  .headline-wrapper {
    width: 90vw;
  }
  .heading {
    font-size: 38px;
  }
  .heading-2 {
    font-size: 64px;
  }
  .bold-text {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .section {
    min-height: 500px;
  }
  .headline-wrapper {
    height: 300px;
  }
  .text-block {
    font-size: 20px;
  }
  .heading {
    font-size: 28px;
    line-height: 28px;
  }
  .heading-2 {
    font-size: 48px;
    line-height: 48px;
  }
  .bold-text {
    font-size: 22px;
    line-height: 28px;
  }
  .button-wrapper {
    right: 13px;
    bottom: -69px;
  }
}

@media (max-width: 479px) {
  .headline-wrapper {
    height: auto;
    max-height: none;
    padding-top: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .white-label-agency {
    position: static;
  }
  .heading-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    font-size: 54px;
    text-align: center;
  }
  .produce {
    margin-top: 25px;
    margin-right: 31px;
    margin-left: 31px;
  }
  .market {
    margin-bottom: 23px;
  }
  .bold-text {
    margin-top: 0px;
    padding-right: 0px;
    font-size: 20px;
    text-align: left;
  }
  .text-block-2 {
    padding-right: 0px;
    text-align: center;
  }
  .container-2 {
    padding-top: 0px;
  }
  .icon {
    color: #fff;
  }
  .button-wrapper {
    position: static;
    left: 13px;
    right: 13px;
    bottom: -69px;
    margin-top: 21px;
    margin-bottom: 36px;
  }
  .button {
    position: static;
    margin-left: 0px;
  }
}